In [2]:
import pandas as pd
import ast

In [3]:
def create_dataframe(col):
    df=pd.DataFrame([ast.literal_eval(col[0])])
    
    # for the whole data
    for j in range(1,len(col)):
        ef=pd.DataFrame([ast.literal_eval(col[j])])
        df = pd.concat([df,ef], ignore_index=True)
    return df 

def create_dataframe1(col):
    df=pd.DataFrame(ast.literal_eval(col[0]))
        # List of dictionaries
    data = list(df['top'])
    # Create an empty dictionary to store the transformed data
    new_dict = {}

    # Loop through each dictionary in the list
    for item in data:
        # Use the 'key' as the new key and 'value' as the new value
        new_dict[item['key']] = item['value']
    df1=pd.DataFrame([new_dict])
    
    for j in range(1,len(col)):
        df=pd.DataFrame(ast.literal_eval(col[j]))
        # List of dictionaries
        data = list(df['top'])
        # Create an empty dictionary to store the transformed data
        new_dict = {}

        # Loop through each dictionary in the list
        for item in data:
            # Use the 'key' as the new key and 'value' as the new value
            new_dict[item['key']] = item['value']
        ef=pd.DataFrame([new_dict])
        df1= pd.concat([df1,ef], ignore_index=True)
    
    return df1
        
def create_dataframe2(col):
    #original data structure
    data=[ast.literal_eval(col[0])]

    # Initialize a dictionary to store the counts
    feature_counts = {}

    # Count the number of features in the 'top' list
    feature_counts['features'] = len(data[0]['top'])

    # Count features for each section in 'data'
    for section in data[0]['data']:
        heading = section['heading']
        feature_counts[heading] = len(section['list'])

    df=pd.DataFrame([feature_counts])
    
    for j in range(1,len(col)):
                #original data structure
        data=[ast.literal_eval(col[j])]

        # Initialize a dictionary to store the counts
        feature_counts = {}

        # Count the number of features in the 'top' list
        feature_counts['features'] = len(data[0]['top'])

        # Count features for each section in 'data'
        for section in data[0]['data']:
            heading = section['heading']
            feature_counts[heading] = len(section['list'])

        ef=pd.DataFrame([feature_counts])
        df= pd.concat([df,ef], ignore_index=True)
    
    return df

def create_dataframe3(col):
    #original data structure
    data=[ast.literal_eval(col[0])]

    # Initialize a dictionary
    new_dict = {}
    for item in data[0]['top']:
        # Use the 'key' as the new key and 'value' as the new value
        new_dict[item['key']] = item['value']

    for item in data[0]['data']:
        item1=item['list']
        for i in item1:
            # Use the 'key' as the new key and 'value' as the new value
            new_dict[i['key']] = i['value']
    df=pd.DataFrame([new_dict])
            
    # for whole data
    for j in range(1,len(col)):
        
        data=[ast.literal_eval(col[j])]

        # Initialize a dictionary
        new_dict = {}
        for item in data[0]['top']:
            # Use the 'key' as the new key and 'value' as the new value
            new_dict[item['key']] = item['value']

        for item in data[0]['data']:
            item1=item['list']
            for i in item1:
                new_dict[i['key']] = i['value']

        ef=pd.DataFrame([new_dict])
        df= pd.concat([df,ef], ignore_index=True)
        
    return df

def converting_function(df):
    col=df['new_car_detail'] # assigning column1
    result=create_dataframe(col)
    
    col=df['new_car_overview']  # assigning column2
    result1=create_dataframe1(col)
    
    col=df['new_car_feature']  # assigning column3
    result2=create_dataframe2(col)
    
    col=kol['new_car_specs']  # assigning column4
    result3=create_dataframe3(col)
    
    result4=df['car_links']  # assigning column5
    
    data_set=pd.concat([result,result1,result2,result3,result4],axis=1)
    
    return data_set

In [4]:
kol=pd.read_excel("E:/car_price_prediction/datasets/kolkata_cars.xlsx")

In [5]:
df=converting_function(kol)
df['city']='kolkata'

In [7]:
bangalore=pd.read_excel("E:/car_price_prediction/datasets/bangalore_cars.xlsx")

In [8]:
df1=converting_function(bangalore)
df1['city']='bangalore'

In [10]:
chennai=pd.read_excel("E:/car_price_prediction/datasets/chennai_cars.xlsx")

In [11]:
df2=converting_function(chennai)
df2['city']='chennai'

In [13]:
delhi=pd.read_excel("E:/car_price_prediction/datasets/delhi_cars.xlsx")

In [14]:
df3=converting_function(delhi)
df3['city']='delhi'

In [16]:
hyderabad=pd.read_excel("E:/car_price_prediction/datasets/hyderabad_cars.xlsx")

In [17]:
df4=converting_function(hyderabad)
df4['city']='hyderabad'

In [19]:
jaipur=pd.read_excel("E:/car_price_prediction/datasets/jaipur_cars.xlsx")

In [20]:
df5=converting_function(jaipur)
df5['city']='jaipur'

# merging data

In [31]:
d1=pd.concat([df,df1,df2,df4,df5])

In [111]:
d1.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'features', 'Comfort & Convenience', 'Interior',
       'Exterior', 'Safety', 'Entertainment & Communication', 'Mileage',
       'Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats', 'Color',
       'Engine Type', 'Displacement', 'Max Torque', 'No of Cylinder',
       'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System',
       'BoreX Stroke', 'Turbo Charger', 'Super Charger', 'Length', 'Width',
       'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight',
       'Gross Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
       'Steering Type', 'Turning Radius', 'Front Brake Type',
       'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Ground Clearance Unladen', 'Cargo Volumn', 'Compression Ratio',
       'Acceleration', 'Top Speed', 'car_links', 'city'],
      dtype='object')

In [49]:
df3.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'RTO', 'features', 'Comfort & Convenience',
       'Interior', 'Exterior', 'Safety', 'Entertainment & Communication',
       'Mileage', 'Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats',
       'Color', 'Engine Type', 'Displacement', 'Max Torque', 'No of Cylinder',
       'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System',
       'BoreX Stroke', 'Turbo Charger', 'Super Charger', 'Length', 'Width',
       'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight',
       'Gross Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
       'Steering Type', 'Turning Radius', 'Front Brake Type',
       'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Ground Clearance Unladen', 'Cargo Volumn', 'Compression Ratio',
       'Acceleration', 'Top Speed', 'car_links', 'city'],
      dtype='object')

In [110]:
pd.DataFrame([d1.columns,df3.columns])

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed,car_links,city
1,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed,car_links,city

In [109]:
# here changing the table structure of df3 to match the other table

In [44]:
c1=df3.iloc[:, :22]

In [46]:
c2=df3.iloc[:, [26,22,23,24,25]]

In [50]:
c3=df3.iloc[:,27:]

In [54]:
df3_changed=pd.concat([c1,c2,c3],axis=1)

In [55]:
# meging the df3_changed
merged_data=pd.concat([d1,df3_changed],ignore_index=True)

In [57]:
merged_data.to_excel("E:/car_price_prediction/car_price_data.xlsx")