In [116]:
import pandas as pd

In [117]:
df= pd.read_excel("E:/car_price_prediction/car_price_data.xlsx")

In [118]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [119]:
df.head(2)

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed,car_links,city
0,0.0,Petrol,Sedan,"70,000",Automatic,3.0,3rd Owner,Toyota,Toyota Camry,2014.0,...,"Tubeless,Radial",17,4.0,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,kolkata
1,0.0,Petrol,Hatchback,"23,981",Manual,1.0,1st Owner,Datsun,Datsun RediGO,2017.0,...,NaN,NaN,5.0,185mm,222,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,kolkata

In [120]:
df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'trendingText',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'features', 'Comfort & Convenience', 'Interior',
       'Exterior', 'Safety', 'Entertainment & Communication', 'Mileage',
       'Engine', 'Max Power', 'Torque', 'Wheel Size', 'Seats.1', 'Color',
       'Engine Type', 'Displacement', 'Max Torque', 'No of Cylinder',
       'Values per Cylinder', 'Value Configuration', 'Fuel Suppy System',
       'BoreX Stroke', 'Turbo Charger', 'Super Charger', 'Length', 'Width',
       'Height', 'Wheel Base', 'Front Tread', 'Rear Tread', 'Kerb Weight',
       'Gross Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
       'Steering Type', 'Turning Radius', 'Front Brake Type',
       'Rear Brake Type', 'Tyre Type', 'Alloy Wheel Size', 'No Door Numbers',
       'Ground Clearance Unladen', 'Cargo Volumn', 'Compression Ratio',
       'Acceleration', 'Top Speed', 'car_links', 'city'],
      dtype='object')

In [ ]:
#droping columns having null above 40 percent
forty_percent= (40*len(df))/100
for columns in df.columns:
    if df[columns].isnull().sum() > forty_percent:
        df.drop(columns=[columns],inplace=True)

In [ ]:
#droping duplicate columns
df.drop(columns=['owner','trendingText','Ownership',
                 'Transmission','Year of Manufacture','Engine','Seats.1',
                 'Displacement','Max Torque','Seating Capacity'],inplace=True)

In [123]:
for i in df.columns:
    print(i,'--',df[i].dtypes,'--',df[i].isnull().sum())

it -- float64 -- 261
ft -- object -- 261
bt -- object -- 265
km -- object -- 261
transmission -- object -- 261
ownerNo -- float64 -- 261
oem -- object -- 261
model -- object -- 261
modelYear -- float64 -- 261
centralVariantId -- float64 -- 261
variantName -- object -- 261
price -- object -- 261
Registration Year -- object -- 313
Insurance Validity -- object -- 265
Fuel Type -- object -- 261
Seats -- object -- 267
Kms Driven -- object -- 263
RTO -- object -- 1155
Engine Displacement -- object -- 265
features -- float64 -- 261
Comfort & Convenience -- float64 -- 329
Interior -- float64 -- 338
Exterior -- float64 -- 351
Safety -- float64 -- 357
Entertainment & Communication -- float64 -- 1356
Mileage -- object -- 626
Max Power -- object -- 404
Torque -- object -- 404
Color -- object -- 344
Engine Type -- object -- 662
No of Cylinder -- float64 -- 380
Values per Cylinder -- float64 -- 410
Value Configuration -- object -- 2612
Fuel Suppy System -- object -- 2102
Turbo Charger -- object -- 1406
Super Charger -- object -- 2372
Length -- object -- 416
Width -- object -- 416
Height -- object -- 416
Wheel Base -- object -- 464
Kerb Weight -- object -- 374
Gear Box -- object -- 458
Drive Type -- object -- 1970
Steering Type -- object -- 692
Turning Radius -- object -- 2000
Front Brake Type -- object -- 434
Rear Brake Type -- object -- 434
Tyre Type -- object -- 428
No Door Numbers -- float64 -- 368
Cargo Volumn -- object -- 2042
car_links -- object -- 261
city -- object -- 0

In [124]:
df['km']=df['km'].str.replace(',','').astype('float')

In [125]:
df['modelYear']=df['modelYear'].fillna(df['modelYear'].mode()[0]).astype('object')

In [126]:
# Clean the 'price' column
df['price'] = df['price'].str.replace(',', '', regex=False)  # Remove commas
df['price'] = df['price'].fillna('₹ 0 Lakh')  # Replace NaN with '₹ 0 Lakh'

# Convert prices in-place
for i in range(len(df['price'])):
    s = df['price'].iloc[i].strip().split()
    if (len(s)>2):
        if (s[-1]=='Lakh'):
            df['price'][i]=float(s[1])
        elif(s[-1]=='Crore'):
            df['price'][i]=float(s[1])*100
    else:
        df['price'][i]=float(s[1])/100

df['price'] = df['price'].astype(float)

C:\Users\91866\AppData\Local\Temp\ipykernel_15416\3200295811.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i]=float(s[1])
C:\Users\91866\AppData\Local\Temp\ipykernel_15416\3200295811.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i]=float(s[1])/100
C:\Users\91866\AppData\Local\Temp\ipykernel_15416\3200295811.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i]=float(s[1])*100

In [127]:
df['Registration Year']=df['Registration Year'].fillna(df['Registration Year'].mode()[0])
df['Registration Year']=pd.to_datetime(df['Registration Year'])
df['Registration Year']=df['Registration Year'].dt.year

In [128]:
df['Seats']=df['Seats'].str.split(' ').str[0]
df['Seats']=df['Seats'].fillna(df['Seats'].mode()[0])
df['Seats']=df['Seats'].astype('int')

In [129]:
df['Kms Driven']=df['Kms Driven'].str.split().str[0].str.replace(',','').astype('float')

In [130]:
df['Engine Displacement']=df['Engine Displacement'].str.split().str[0].astype('float')

In [131]:
df['Mileage']=df['Mileage'].str.split().str[0].astype('float')

In [132]:
df['Max Power']=df['Max Power'].str.split('@').str[0].str.split(' ').str[0].str.split('b').str[0].str.split('P').str[0].str.split('p').str[0].str.split('(').str[0].astype('float')

In [133]:
df['Torque']=df['Torque'].str.split(' ').str[0].str.split('N').str[0].str.split('n').str[0].astype('float')

In [134]:
df['Length']=df['Length'].str.split(" ").str[0].str.split("m").str[0].str.replace(',','').astype('float')

In [135]:
df['Width']=df['Width'].str.split(' ').str[0].str.split('m').str[0].str.replace(',','').astype('float')

In [136]:
df['Height']=df['Height'].str.split(' ').str[0].str.split('m').str[0].str.replace(',','').str.split('-').str[0].astype('float')

In [137]:
df['Wheel Base']=df['Wheel Base'].str.split(' ').str[0].str.split('m').str[0].str.replace(',','').astype('float')

In [138]:
df['Kerb Weight']=df['Kerb Weight'].str.split(' ').str[0].str.split('k').str[0].str.split('K').str[0].str.split('-').str[0].str.replace(',','').astype('float')

In [139]:
df['Gear Box']=df['Gear Box'].str.replace('-',' ')

In [140]:
df['Cargo Volumn']=df['Cargo Volumn'].str.split(" ").str[0].str.split("-").str[0].str.split("/").str[0].str.split("L").str[0].astype('float')

In [141]:
df['car_links']=df['car_links'].fillna('unavailable')

In [147]:
df['Turning Radius']=df['Turning Radius'].str.split(' ').str[0].str.split('m').str[0].astype('float')

In [150]:
#table creation without counted value columns
ef=df.drop(columns=['features','Comfort & Convenience','Interior','Exterior','Safety','Entertainment & Communication'])

In [151]:
#counted values columns
ef1=df[['features','Comfort & Convenience','Interior','Exterior','Safety','Entertainment & Communication']]

In [154]:
# replace this with mode because these columns as counted values
for columns in ef1.columns:
    df[columns].fillna(df[columns].mode()[0], inplace=True)

In [152]:
#null imputation

forty_percent= (40*len(df))/100
for columns in ef.columns:
    if df[columns].isnull().sum() > forty_percent:
        df.drop(columns=[columns],inplace=True)
        
    elif df[columns].dtypes in ["int64", "float64"]:
        
            if df[columns].skew() < 0.4 and df[columns].skew() > -0.4:  #outliers
                
                df[columns].fillna(df[columns].mean(), inplace=True)
                
            else:
                df[columns].fillna(df[columns].median(), inplace=True)
    else:
        df[columns].fillna(df[columns].mode()[0], inplace=True)

In [155]:
df.isnull().sum()

it                               0
ft                               0
bt                               0
km                               0
transmission                     0
ownerNo                          0
oem                              0
model                            0
modelYear                        0
centralVariantId                 0
variantName                      0
price                            0
Registration Year                0
Insurance Validity               0
Fuel Type                        0
Seats                            0
Kms Driven                       0
RTO                              0
Engine Displacement              0
features                         0
Comfort & Convenience            0
Interior                         0
Exterior                         0
Safety                           0
Entertainment & Communication    0
Mileage                          0
Max Power                        0
Torque                           0
Color                            0
Engine Type                      0
No of Cylinder                   0
Values per Cylinder              0
Value Configuration              0
Fuel Suppy System                0
Turbo Charger                    0
Super Charger                    0
Length                           0
Width                            0
Height                           0
Wheel Base                       0
Kerb Weight                      0
Gear Box                         0
Drive Type                       0
Steering Type                    0
Turning Radius                   0
Front Brake Type                 0
Rear Brake Type                  0
Tyre Type                        0
No Door Numbers                  0
Cargo Volumn                     0
car_links                        0
city                             0
dtype: int64

In [156]:
df.to_excel('E:/car_price_prediction/cleaned_data.xlsx')